node_modules/
*.env

*/**/*.secrets.yaml
services/*/**/generated
*/**/__pycache__/

# Expo
node_modules/
.expo/
.yarn/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
cache/