node_modules/
__pycache__/
venv/

*.env

*/**/*.secrets.yaml
services/*/**/generated

# Expo
node_modules/
.expo/
.yarn/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
cache/